@charset "utf-8";
/* CSS Document...Conversion Systems */

body, html, p, td, tr, table, span, a, div, li, ol, ul, img, h1, h2, h3, h4, h5, em {
	border: none;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	height: 100%;
	padding: 0;
 background:;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
}
#header {
	position:relative;
	width: 946px;
	height: 115px;
	margin: 0 auto;
	padding: 0;
	background: url(../images/site_top.png) no-repeat;
}
#nav-mcafee {
	position:absolute;
	left: 781px;
	width: 110px;
	top: 17px;
	height: 30px;
}
#nav-asotv {
	position:absolute;
	left: 907px;
	width: 39px;
	top: 16px;
	height: 34px;
}
#phone_number {
	position:absolute;
	top: 25px;
	left: 436px;
	color: #000000;
	font-size: 14px;
	width: 328px;
	text-align:right;
}
h1, h3, h4, h5 {
	margin: 0 0 0 -3000em;
	width: 100px;
	height: 1px;
	font-size: 1px;
	padding: 0;
}
h2 {
	font-size: 33px;
	font-weight: normal;
	color: #71bf44;
	line-height: normal;
	padding-bottom: 20px;
}
#clear, .clear {
	clear:both;
	position:relative;
}

#stretch_container {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 946px;
	height: auto;
	background-image:url(../images/shift_bg.png);
	background-repeat:repeat-y;
}
#home_bottom {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 946px;
	height: 976px;
}
#site_bottom {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 946px;
	height: 316px;
	background: url(../images/site_bottom.png) no-repeat;
}
#home_left {
	position:relative;
	width: 646px;
	height: auto;
	float:left;
}
#other_left {
	position:relative;
	width: 646px;
	height: auto;
	float:left;
 background:;
}
#home_right {
	position:relative;
	width: 300px;
	height: auto;
	margin:0;
	padding: 10px 0 0 0;
	float:left;
}
#home_video {
	position:relative;
	padding: 0 0 10px 0;
	width: 289px;
}
#form_top {
	position:relative;
	width: 281px;
	height: 134px;
	margin:0;
	padding:0;
}
#page_form {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	position:relative;
	width: 281px;
	height: auto;
}
#form_bottom {
	position:relative;
	width:281px;
}
#mcafee {
	position:relative;
	margin-left: 90px;
	width: 115px;
	height: 35px;
	padding: 10px 0;
}
#footer {
	position:relative;
	height: 70px;
	width: 946px;
	margin: 0 auto;
	padding: 10px 0;
}
#footer p {
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	font-size: 11px;
	text-align: left;
	margin: 0;
	padding: 0 0 20px 0;
	line-height: 18px;
}
#footer a {
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	font-size: 11px;
	text-decoration:none;
	padding: 0;
}
#left_txt {
	position:relative;
	left: 36px;
	margin-top: 20px;
	width: 585px;
	font-size: 13px;
	color: #5a5a5a;
	line-height: 20px;
	top: 0;
	height: auto;
}
#left_txt p {
	padding-bottom: 20px;
}
#left_txt p.testimonialsquote {
	text-indent: 24px;
	background: url(../images/quote.jpg) no-repeat;
}
#left_txt a {
	color: #0055a4;
	text-decoration:underline;
	font-weight: bold;
}
#QAlist {
	padding-left: 0;
	list-style: none;
	line-height: 20px;
}
#QAlist li.Q {
	color: #5a5a5a;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-left: 24px;
	background-image: url(../images/Q_bullet.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	margin-left: 0;
	margin-bottom: 0px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 0px;
}
#QAlist li.A {
	color: #5a5a5a;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-left: 24px;
	background-image: url(../images/A_bullet.png);
	background-repeat: no-repeat;
	background-position:  0 4px;
	margin-bottom: 0px;
	line-height: 20px;
	padding-bottom: 16px;
}
#QAlist li.A ul {
	list-style-type:none;
	color: #5a5a5a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-left: 0;
	margin-bottom: 8px;
	line-height: 20px;
}
#QAlist li.A li {
	background-image: url(../images/bullet.png);
	background-repeat: no-repeat;
	background-position: 0em .5em;
	color: #5a5a5a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-left: 16px;
	line-height: 20px;
}
/* RECEIPT */


#receipt_table1 td {
	color: #515151;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
}
#receipt_table2 td {
	color: #515151;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
}
#receipt_table2 {
	margin-top: 30px;
}

/* CONTACT FORM */

#contact_form .address_table {
	color: #717171;
	font-size: 12px;
}

#contact_form .address_table td {
	padding: 5px;
}

#contact_form .address_label {
	clear: both;
	display: block;
	font-size: 11px;
}

#contact_form .address_input {
	width: 176px;
	color: #717171;
	font-size: 12px;
	border: 1px solid #cecece;
}

#contact_form .address_input2 {
	width: 366px;
	height: 110px;
	color: #717171;
	font-size: 12px;
	border: 1px solid #cecece;
}

#contact_form .error {
	color: red;
	font-size: 11px;	
}

#contact_form .submit_btn {
	text-align:right;
	height: 90px;
}

#contact_form {
	position:relative;
	width: 380px;
}


/* CONVERSION CARTS */

/* -----CART A----- */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
	zoom: 1;
} /* IE7 */

.cartA {
	width: 261px;
	padding: 10px;
	position:relative;
}
.cartA .form_line {
	position:relative;
	width: 260px;
	display:block;
	padding-bottom: 8px;
}
.cartA .form_line_btn {
	position:relative;
	width: 260px;
	display:block;
	padding: 10px 0;
	text-align:center;
}
.cartA .form_line_guarantee {
	position:relative;
	width: 260px;
	display:block;
	font-size: 15px;
	color: #000000;
	text-align:center;
}
.cartA .form_line_guarantee a {
	color: #000000;
	text-decoration: underline;
}
.cartA .label-1 {
	float:left;
	position:relative;
	width:100px;
	padding-top: 2px;
}
.cartA .label-2 {
	float:left;
	position:relative;
	width: 233px;
	padding-top: 2px;
	font-weight: bold;
}
.cartA .label-3 {
	position:relative;
	width: 260px;
}
.cartA .checkbox-right {
	float:left;
	position:relative;
}
.cartA .text-1 {
	width: 154px;
	position:relative;
	float:left;
}
.cartA .text-2 {
	width: 90px;
}
.cartA .text-3 {
	width: 90px;
	float:left;
	margin-right: 6px;
}
.cartA .text-4 {
	width: 40px;
	float:left;
	margin-right: 6px;
}
.cartA .error-1 {
	position:relative;
	margin-left: 100px;
	font-size: 11px;
	color: #ff0000;
}
.cartA .error-2 {
	position:relative;
	font-size: 11px;
	color: #ff0000;
}
.cartA .cvv {
	color: #09C;
	font-size: 11px;
	text-decoration: underline;
}
.cartA .choosetable td {
	text-align:center;
	padding-top: 5px;
}
.cartA .choosetable label {
	display:block;
	font-size: 11px;
}
/* -----CART B----- */

.cart_content_B {
	position:relative;
	display:block;
	width: 880px;
	margin: 0 auto;	
	padding-top: 20px;
}

.cart_left h2 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 19px;	
	color: #39C;
	padding: 0;
	margin: 0;
}

.cart_right h2 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 19px;	
	color: #39C;
	padding: 0 0 30px 0;
	margin: 0;
}

.basket_title {
	font-size: 14px;
	font-weight: bold;
	color: #39c;	
}

.basket_description {
	font-size: 11px;
	
}

.cart_table {
	display:block;
	width: 505px;
	position:relative;	
}

.cart_image {
	float:left;
	position:relative;
	width: 120px;	
}

.cart_text {
	float:left;
	position:relative;
	width: 210px;
	padding: 0 10px;	
}

.cart_select {
	float:left;
	position:relative;
	width: 85px;	
}

.product_price {
	float:left;
	position:relative;
	width: 64px;	
}

.cart_totals {
	position:relative;
	display:block;
	width: 505px;
}

.cart_totals_left {
	position:relative;
	float:left;
	width: 50px;
	margin-left: 386px;	
}

.cart_totals_right {
	position:relative;
	float:left;
	width: 64px;	
}

.cart_left {
	position:relative;
	width: 505px;
	color: #767676;
	font-size: 13px;
	float:left;
	padding-top: 10px;
}

.cart_right {
	position:relative;
	width: 290px;
	float:left;
}

.cart_offer {
	font-size: 11px;
	line-height: 16px;
	padding-top: 20px;	
}

.horizontal_dots {
	height: 1px;
	margin: 10px 0;
	border-top: 1px dotted #cccccc;	
}

.vertical_dots {
	position:relative;
	float:left;
	width: 1px;
	height: 370px;
	margin: 0 20px 0 20px;
	border-right: 1px dotted #cccccc;	
}

.cartB {
	width: 261px;
	padding: 10px;
	position:relative;
}
.cartB .form_line {
	position:relative;
	width: 260px;
	display:block;
	padding-bottom: 8px;
}
.cartB .form_line_btn {
	position:relative;
	width: 260px;
	display:block;
	padding: 10px 0;
	text-align:center;
}
.cartB .form_line_guarantee {
	position:relative;
	width: 260px;
	display:block;
	font-size: 15px;
	color: #000000;
	text-align:center;
}
.cartB .form_line_guarantee a {
	color: #000000;
	text-decoration: underline;
}
.cartB .label-1 {
	float:left;
	position:relative;
	width:100px;
	padding-top: 2px;
}
.cartB .label-2 {
	float:left;
	position:relative;
	width: 233px;
	padding-top: 2px;
	font-weight: bold;
}
.cartB .label-3 {
	position:relative;
	width: 260px;
}
.cartB .checkbox-right {
	float:left;
	position:relative;
}
.cartB .text-1 {
	width: 154px;
	position:relative;
	float:left;
}
.cartB .text-2 {
	width: 90px;
}
.cartB .text-3 {
	width: 90px;
	float:left;
	margin-right: 6px;
}
.cartB .text-4 {
	width: 40px;
	float:left;
	margin-right: 6px;
}

.cartB .error-1 {
	position:relative;
	margin-left: 100px;
	font-size: 11px;
	color: #ff0000;
}
.cartB .error-2 {
	position:relative;
	font-size: 11px;
	color: #ff0000;
}
.cartB .cvv {
	color: #09C;
	font-size: 11px;
	text-decoration: underline;
}
.cartB .choosetable td {
	text-align:center;
	padding-top: 5px;
}
.cartB .choosetable label {
	display:block;
	font-size: 11px;
}

/* CART C */

#cart_content_C {
	width: 860px;
	margin: 0 auto;
	position:relative;
	color: #454746;
}

#cart_content_C .shopping_top {
	width: 858px;
	border: 1px solid #a4a4a4;	
	background: #ffffff;
	position:relative;
	display:block;
	margin-bottom: 14px;
}

#cart_content_C .shopping_header {
	width: 846px;
	position:relative;
	background: #a4a4a4;
	height: 40px;
	padding-left: 12px;
	line-height: 40px;
	vertical-align:middle;
	font-weight: bold;
	color: #ffffff;
	font-size: 14px;	
}

#cart_content_C .shopping_top_row {
	width: 858px;
	position:relative;
	display:block;	
}

#cart_content_C .shopping_item_header {
	position:absolute;
	background: #e0e0e0;
	text-align:center;
	height: 25px;
	width: 130px;
	left: 0;
	top: 0;
	vertical-align:middle;
	line-height: 25px;
}

#cart_content_C .shopping_desc_header {
	position:absolute;
	background: #e0e0e0;
	height: 25px;
	width: 450px;
	left: 130px;
	top: 0;
	vertical-align:middle;
	line-height: 25px;
}

#cart_content_C .shopping_size_header {
	position:absolute;
	background: #e0e0e0;
	text-align:center;
	height: 25px;
	left: 580px;
	top: 0;
	width: 85px;
	vertical-align:middle;
	line-height: 25px;
}

#cart_content_C .shopping_qty_header {
	position:absolute;
	background: #e0e0e0;
	text-align:center;
	height: 25px;
	left: 665px;
	top: 0;
	width: 85px;
	vertical-align:middle;
	line-height: 25px;
}


#cart_content_C .shopping_price_header {
	position:absolute;
	background: #e0e0e0;
	height: 25px;
	left: 750px;
	top: 0;
	width: 78px;
	padding-left: 30px;
	vertical-align:middle;
	line-height: 25px;
}

#cart_content_C .shopping_item {
	position:relative;
	float:left;
	width: 130px;
	text-align:center;
	padding: 10px 0;

}

#cart_content_C .shopping_desc {
	position:relative;
	float:left;
	width: 450px;
	padding: 10px 0;	
}


#cart_content_C .shopping_size {
	position:relative;
	float:left;
	width: 85px;
	text-align:center;	
	padding: 10px 0;
}

#cart_content_C .shopping_qty {
	position:relative;
	float:left;
	width: 85px;
	text-align:center;	
	padding: 10px 0;
}

#cart_content_C .shopping_price {
	position:relative;
	float:left;
	width: 78px;
	padding: 10px 0 10px 30px;
}

#cart_content_C .basket_title {
	color: #000000;
	font-size: 14px;
	font-weight: bold;	
}

#cart_content_C .basket_description {
	font-size: 12px;
		
}

#cart_content_C .shopping_top_row_total {
	display:block;
	background: #e0e0e0;
	position:relative;	
}

#cart_content_C .shopping_top_extrainfo {
	position:relative;
	float:left;
	width: 680px;
	padding: 20px 10px;	
}

#cart_content_C .shopping_top_extrainfo label {
	float:left;
	width: 120px;
	margin-right: 4px;	
	text-align:right;
	height: 20px;
	line-height: 20px;
	vertical-align:middle;
}

#cart_content_C .shopping_top_extrainfo .promo_code {
	float:left;
	position:relative;
	width: 150px;
	border: 1px solid #a4a4a4;
	height: 20px;
	line-height: 20px;
}

#cart_content_C .shopping_top_totals {
	float:left;
	position:relative;
	width: 158px;	
	padding: 10px 0;
}

#cart_content_C .shopping_top_totals .total_description {
	float:left;
	display:inline-block;
	width: 80px;
	text-align:right;
	padding-right: 6px;
	line-height: 24px;
}

#cart_content_C .shopping_top_totals .total_prices {
	float:left;
	display:inline-block;
	width: 72px;
	font-weight: bold;
	line-height: 24px;
}

#cart_content_C .address_section {
	width: 420px;
	float:left;
	position:relative;	
	border: 1px solid #a4a4a4;
	margin-bottom: 20px;
}

#cart_content_C .payment_section {
	width: 420px;
	height: 360px;
	float:right;
	position:relative;	
	margin-bottom: 20px;
	border: 1px solid #a4a4a4;
}

#cart_content_C .billingsection_header {
	position:relative;
	background: #a4a4a4;
	height: 40px;
	line-height: 40px;
	vertical-align:middle;
	font-weight: bold;
	color: #ffffff;
	font-size: 14px;
	width: 410px;	
	padding-left: 10px;
	display:block;
	margin-bottom: 10px;
}

#cart_content_C .form_line {
	position:relative;
	float:left;
	padding-left: 10px;
	width: 200px;
	height: 55px;
}

#cart_content_C .error-1 {
	display:block;
	color: red;
	font-size: 11px;	
}

#cart_content_C .label-1 {
	display:block;
	position:relative;	
}

#cart_content_C .input-1 {
	position:relative;
	width: 180px;	
	display:block;
	height: 16px;
	padding: 2px;
	line-height: 16px;
	border: 1px solid #a4a4a4;
}

#cart_content_C .form_line select, #cart_content_C .form_line_2 select {
	height: auto;
}

#cart_content_C .input-4 {
	position:relative;
	width: auto;
	height: auto;
	margin-right: 4px;	
	float:left;
	border: 1px solid #a4a4a4;
}

#cart_content_C label-2 {
	float:left;
	width: 350px;
	position:relative;	
}

#cart_content_C .form_line_2 {
	position:relative;
	padding-left: 10px;
	width: 410px;
	height: 55px;
}

#cart_content_C .input-2 {
	position:relative;
	width: 80px;
	margin-right: 6px;	
	float:left;
	height: 16px;
	padding: 2px;
	line-height: 16px;
	border: 1px solid #a4a4a4;
}

#cart_content_C .input-3 {
	position:relative;
	width: 110px;
	margin-right: 6px;	
	float:left;
	height: 16px;
	padding: 2px;
	line-height: 16px;
	border: 1px solid #a4a4a4;
}

#cart_content_C .cvv {
	float:left;
	font-size: 11px;
	color: #bbb;	
	line-height: 20px;
	vertical-align:middle;
	text-decoration:none;
}

#cart_content_C .submit_btn {
	margin: 50px 0 0 260px;
}

/* CART D */

#cart_content_D .shoppingcart_top {
	width: 860px;
	border-collapse:collapse;
	border: 1px solid #0d0d0d;
	margin-bottom: 6px;
}

#cart_content_D .shoppingcart_top td {
	padding: 12px;
}

#cart_content_D .shoppingcart_top td.shoppingcart_subheader {
	background-color: #c6c6c6;
	color: #333333;
	padding: 5px 12px;
	font-size: 11px;
	font-weight: bold;
}

#cart_content_D .product_title {
	font-weight: bold;
	color: #000000;
	margin: 0;
	padding: 0 0 6px 0;
	font-size: 14px;
}

#cart_content_D .product_description {
	color: #333333;	
	width: 370px;
	font-size: 12px;
	line-height: 19px;
}

#cart_content_D .shoppingtop_select {
	font-weight: bold;
	color: #333333;	
}

#cart_content_D .shoppingtop_price {
	font-weight: bold;
	line-height: 24px;
	color: #333333;
	font-size: 13px;
	border-top: 1px solid #0d0d0d;
}

#cart_content_D .shoppingtop_summary {
	line-height: 24px;
	color: #333333;
	text-align:right;
	font-size: 13px;
	border-top: 1px solid #0d0d0d;
}

#cart_content_D #address_section {
	position:relative;
	padding-top: 18px;
}

#cart_content_D #payment_section {
	position:relative;
	padding-top: 20px;
}

#cart_content_D .address_table {
	color: #333333;
	font-size: 12px;
}

#cart_content_D .address_table td {
	padding: 4px;
}

#cart_content_D .address_table td.address_header {
	padding: 12px 0 6px 0;
	font-weight: bold;
	font-size: 14px;
}

#cart_content_D .address_label {
	display: block;
}

#cart_content_D .address_input {
	width: 156px;
	color: #333333;
	border: 1px solid #3f3f3f;
	font-size: 12px;
}

#cart_content_D .address_input2 {
	width: 325px;
	color: #333333;
	border: 1px solid #3f3f3f;
	font-size: 12px;
}

#cart_content_D .address_input3 {
	width: 40px;
	color: #333333;
	border: 1px solid #3f3f3f;
	font-size: 12px;
}

#cart_content_D .address_input4 {
	width: 60px;
	color: #333333;
	border: 1px solid #3f3f3f;
	font-size: 12px;
}

#cart_content_D .card {
	width: 200px;
	color: #333333;
	border: 1px solid #3f3f3f;
}

#cart_content_D .cardnumber {
	width: 150px;
	color: #333333;
}

#cart_content_D .expdate1 {
	width: 50px;
	margin-right: 10px;
	color: #333333;
	border: 1px solid #3f3f3f;
}

#cart_content_D .expdate2 {
	width: 70px;
	margin-right: 10px;
	color: #333333;
	border: 1px solid #3f3f3f;
}

#cart_content_D .error {
	color: red;
	font-size: 11px;	
}

#cart_content_D .submit_btn {
	text-align:right;
	height: 90px;
}

#cart_content_D .cvv {
	font-size: 10px;
	color: #333333;
	text-decoration: underline;
}

#cart_content_D {
  position:relative; width: 860px; padding: 5px 50px 0 51px;
}

#cart_content_D .shoppingtop_promo {
	color: #333333;
}

#cart_content_D .shoppingtop_promo label {
	width: 120px;
	float:left;
	position:relative;
	padding-top: 2px;
}

#cart_content_D .shoppingtop_promo input {
	float:left;
	position:relative;	
}


/* -----CART MOBILE ----- */

.cart_mobile {
	width: 262px;
	position:relative;
	margin: 0 auto;
}
.cart_mobile .form_line {
	position:relative;
	width: 260px;
	display:block;
	padding-bottom: 8px;
}
.cart_mobile .form_line_btn {
	position:relative;
	width: 260px;
	display:block;
	padding: 10px 0;
	text-align:center;
}
.cart_mobile .form_line_guarantee {
	position:relative;
	width: 260px;
	display:block;
	font-size: 15px;
	color: #000000;
	text-align:center;
}
.cart_mobile .form_line_guarantee a {
	color: #000000;
	text-decoration: underline;
}
.cart_mobile .label-1 {
	float:left;
	position:relative;
	width:100px;
	padding-top: 2px;
}
.cart_mobile .label-2 {
	float:left;
	position:relative;
	width: 233px;
	padding-top: 2px;
	font-weight: bold;
}
.cart_mobile .label-3 {
	position:relative;
	width: 260px;
}
.cart_mobile .checkbox-right {
	float:left;
	position:relative;
}
.cart_mobile .text-1 {
	width: 154px;
	position:relative;
	float:left;
}
.cart_mobile .text-2 {
	width: 90px;
}
.cart_mobile .text-3 {
	width: 90px;
	float:left;
	margin-right: 6px;
}
.cart_mobile .text-4 {
	width: 40px;
	float:left;
	margin-right: 6px;
}
.cart_mobile .error-1 {
	position:relative;
	margin-left: 100px;
	font-size: 11px;
	color: #ff0000;
}
.cart_mobile .error-2 {
	position:relative;
	font-size: 11px;
	color: #ff0000;
}
.cart_mobile .cvv {
	color: #09C;
	font-size: 11px;
	text-decoration: underline;
}
.cart_mobile .choosetable td {
	text-align:center;
	padding-top: 5px;
}
.cart_mobile .choosetable label {
	display:block;
	font-size: 11px;
}



/* -----CART TABLET ----- */

.cart_tablet {
	width: 262px;
	position:relative;
	margin: 0 auto;
}
.cart_tablet .form_line {
	position:relative;
	width: 260px;
	display:block;
	padding-bottom: 8px;
}
.cart_tablet .form_line_btn {
	position:relative;
	width: 260px;
	display:block;
	padding: 10px 0;
	text-align:center;
}
.cart_tablet .form_line_guarantee {
	position:relative;
	width: 260px;
	display:block;
	font-size: 15px;
	color: #000000;
	text-align:center;
}
.cart_tablet .form_line_guarantee a {
	color: #000000;
	text-decoration: underline;
}
.cart_tablet .label-1 {
	float:left;
	position:relative;
	width:100px;
	padding-top: 7px;
}
.cart_tablet .label-2 {
	float:left;
	position:relative;
	width: 233px;
	padding-top: 2px;
	font-weight: bold;
}
.cart_tablet .label-3 {
	position:relative;
	width: 260px;
}
.cart_tablet .checkbox-right {
	float:left;
	position:relative;
}
.cart_tablet .text-1 {
	width: 154px;
	position:relative;
	float:left;
	padding: 6px 0;
}
.cart_tablet .text-2 {
	width: 90px;
	padding: 6px 0;
}
.cart_tablet .text-3 {
	width: 90px;
	float:left;
	margin-right: 6px;
	padding: 6px 0;
}
.cart_tablet .text-4 {
	width: 40px;
	float:left;
	margin-right: 6px;
	padding: 6px 0;
}
.cart_tablet .error-1 {
	position:relative;
	margin-left: 100px;
	font-size: 11px;
	color: #ff0000;
}
.cart_tablet .error-2 {
	position:relative;
	font-size: 11px;
	color: #ff0000;
}
.cart_tablet .cvv {
	color: #09C;
	font-size: 11px;
	text-decoration: underline;
}
.cart_tablet .choosetable td {
	text-align:center;
	padding-top: 5px;
}
.cart_tablet .choosetable label {
	display:block;
	font-size: 11px;
}
