<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="OrderProcessingProvider" type="ConversionSystems.Providers.MediaChase.OrderProcessing.ProviderConfigurationHandler, ConversionSystems.Providers.MediaChase.OrderProcessing"/>
		<section name="PaymentProvider" type="EBS.IntegrationServices.Providers.PaymentProviders.ProviderConfigurationHandler, EBS.IntegrationServices.Providers.PaymentProviders"/>
		<section name="Helper" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="AppServers" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="WebServerLocation" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="SQLServerDAO" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="OracleDAO" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ErrorLogAPI" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="Translations" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="CacheKeys" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="LookupGroups" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="Lookups" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ApplicationRoleTypes" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ApplicationRoles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="AdminEmailsForNewRoleRequest" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ItemCodes" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="CCPaymentType" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="Country" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ItemNumbers" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="DataServicesXMLBatchConfig" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ApplicationUsers" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="AhhBraBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
    <add key="client_db"   value="server=CSDBServer101;Integrated Security=SSPI; Database=Brainetics.com;" />
		<add key="encryptionkey" value="ASDdk34Jahdsl2D%"></add>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="sendemailto" value="aa2@email212.com;aa1@email212.com"/>
		<add key="cc" value=""/>
		<add key="bcc" value="aa@email212.com"/>
    <add key="EncryptionPrivateKey" value="ASDdk34Jahdsl2D%" />
	</appSettings>
	<Helper>
		<add key="AppAcronym" value="M"/>
		<add key="AppName" value="Murad Batch"/>
		<add key="AppVersion" value="1.0"/>
		<add key="AppReleaseType" value="Beta"/>
		<add key="Producer" value="Conversion Systems"/>
		<add key="ReleaseDate" value="August, 2009"/>
		<add key="CacheTimer" value="90"/>
		<add key="AdminEmail" value="kevin@conversionsystems.com"/>
		<add key="MonitorEmail" value="aniketh@conversionsystems.com"/>
		<add key="ApplicationEmail" value="info@conversionsystems.com"/>
		<add key="SmtpServer" value="localhost"/>
		<add key="ErrorLogFile" value="C:\\MuradBatchFiles\\Log.txt"/>
		<add key="CSOURCE" value="CONV"/>
		<add key="PROJECT" value="Proj1"/>
		<add key="CMEDIA" value="WEB"/>
		<add key="GROUPCODE" value="TMGC"/>
		<add key="CANADA_CLNO" value="CN"/>
		<add key="ENGLISH_CLNO" value="PS"/>
		<add key="SPANISH_CLNO" value="SP"/>
		<add key="PAY_TYPE" value="C"/>
		<add key="NUMOFPAYMENTS" value="1"/>
		<add key="CONTINUITYFLAG" value="N"/>
		<add key="TAXABLEFLAG" value="Y"/>
		<add key="FileDirectoryPath" value="C:\\batchstaging\\BatchProcesses\\AhhBraBatchFiles"/>
    <add key="SiteUrl" value="https://www.brainetics.com" />    
	</Helper>
	<PaymentProvider defaultProvider="PayPal">
		<providers>
			<add name="PayPalTest" TransactionUrl="https://pilot-payflowpro.paypal.com" type="EBS.IntegrationServices.Providers.PaymentProviders.PayPal.PayPalAccount, EBS.IntegrationServices.Providers.PaymentProviders.PayPal" login="nonahhbra01" Password="Frid999" Partner="PayPal" delimitedCharacter="&amp;" Vendor="tmgtv2011"/>
			<add name="PayPal" TransactionUrl="https://payflowpro.paypal.com" type="EBS.IntegrationServices.Providers.PaymentProviders.PayPal.PayPalAccount, EBS.IntegrationServices.Providers.PaymentProviders.PayPal" login="nonahhbra01" Password="Frid999" Partner="PayPal" delimitedCharacter="&amp;" Vendor="tmgtv2011"/>
		</providers>
	</PaymentProvider>
	<DataServicesXMLBatchConfig>
		<add key="method" value="submit_order"/>
		<add key="ID" value="RUBMDCVS"/>
		<add key="Username" value="CsSn195a"/>
		<add key="Password" value="t829aWk4"/>
		<add key="CompanyNumber" value="263"/>
		<add key="ProjectNumber" value="001"/>
		<add key="SourceCode" value="104"/>
		<add key="MediaCode" value="WEB"/>
		<add key="ShippingMethod" value="01"/>
		<add key="NumberOfPayments" value="1"/>
		<add key="RushCharge" value="0.00"/>
		<add key="PriorityHandling" value="0.00"/>
		<add key="SalesTax" value="0.00"/>
		<add key="Sequence" value="01"/>
		<add key="Upsell" value="N"/>
	</DataServicesXMLBatchConfig>
	<AppServers>
		<!-- 
    List the application servers here as keys and their modes as the values.  The modes should be one of "Dev", "Tst",
    or "Prd".  If things don't line up then, then it will be assumed that the current server is running in development
    mode.
    -->
		<add key="localhost" value="Dev"/>
		<add key="Irvine37" value="Dev"/>
		<add key="WebApps-Test" value="Tst"/>
		<add key="Irvine725" value="Prd"/>
		<add key="Irvine726" value="Prd"/>
		<add key="WebApps" value="Prd"/>
	</AppServers>
	<WebServerLocation>
		<add key="Dev" value="W:\Catalyst\CDM\DataManagement\Finance\Upload\"/>
		<add key="Tst" value="d:\inetpub\wwwroot\CDM\DataManagement\Finance\Upload\"/>
		<add key="Prd" value="d:\inetpub\wwwroot\CDM\DataManagement\Finance\Upload\"/>
	</WebServerLocation>
	<SQLServerDAO>
		<!-- 
    Set "Mode" value to "Auto" for automatic connection string setting based on server modes.  Set to "Prd", "Tst",
    or "Dev" to use those respective connection strings regardless of the server being used.
    -->
		<add key="Mode" value="Auto"/>		
	</SQLServerDAO>
	<CCPaymentType>
		<add key="VISA" value="VS"/>
		<add key="MasterCard" value="MC"/>
		<add key="AMEX" value="AX"/>
		<add key="AmericanExpress" value="AX"/>
		<add key="Discover" value="DS"/>
	</CCPaymentType>
	<Country>
		<add key="United States" value="US"/>
	</Country>
	<ItemCodes>
		<add key="402" value="90986"/>
		<add key="403" value="90983"/>
		<add key="404" value="90987"/>
		<add key="405" value="60151"/>
		<add key="406" value="60151"/>
	</ItemCodes>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="info@conversionsystems.com">
				<network host="localhost" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
