<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HitsLinkVisitorBySite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="connectionstringProd_123" value="server=CSDBServer101;Integrated Security=SSPI;database=CSMaster;"/>
    <add key="connectionstringProd" value="server=10.128.100.230;database=CSMaster;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
    <add key="sendemailto" value="mhaeri@conversionsystems.com" />
    <add key="AdminEmail" value="mhaeri@conversionsystems.com" />
    <add key="AdminEmailCC" value="mhaeri@conversionsystems.com" />
    <add key="fromEmail" value="info@conversionsystems.com" />
    <add key="cc" value=""/>
    <add key="bcc" value="mhaeri@conversionsystems.com" />
    <add key="clientemail" value="mhaeri@conversionsystems.com"/>
    <add key="sendemailtocc" value="mhaeri@conversionsystems.com,mshahbaz@conversionsystems.com1"/>
    <add key="ErrorLogFile" value="c:\\BatchFiles\\BuyCurlSecret_Media\\log\\Log.txt"/>
    <add key="targetPath" value="c:\\BatchFiles\\BuyCurlSecret_Media\\/"/>
    <add key="ErrorLogFile123" value="c:\\BatchFiles\\HitsLinkVisitor\\log\\Log.txt"/>
    <add key="targetPath123" value="c:\\BatchFiles\\HitsLinkVisitor\\DirectAvenueReports/"/>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>  
    <applicationSettings>
        <HitsLinkVisitorBySite.Properties.Settings>
            <setting name="HitsLinkVisitorBySite_com_hitslink_www_ReportWS"
                serializeAs="String">
                <value>http://www.hitslink.com/reportws.asmx</value>
            </setting>
        </HitsLinkVisitorBySite.Properties.Settings>
    </applicationSettings>
</configuration>